@model Edux.Models.Page

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_metronicLayout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Page</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Slug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="View" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="View" class="form-control" />
                <span asp-validation-for="View" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LayoutView" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LayoutView" class="form-control" />
                <span asp-validation-for="LayoutView" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentPageId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ParentPageId" class ="form-control" asp-items="ViewBag.ParentPageId">
                    <option value="">Seciniz</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MetaTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MetaTitle" class="form-control" />
                <span asp-validation-for="MetaTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MetaDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MetaDescription" class="form-control" />
                <span asp-validation-for="MetaDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MetaKeywords" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MetaKeywords" class="form-control" />
                <span asp-validation-for="MetaKeywords" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPublished" />
                    <label asp-for="IsPublished"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ViewCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ViewCount" class="form-control" />
                <span asp-validation-for="ViewCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AllowedRoles" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AllowedRoles" class="form-control" />
                <span asp-validation-for="AllowedRoles" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

