@model Edux.Models.Parameter

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_metronicLayout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Parameter</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsRequired" />
                    <label asp-for="IsRequired"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ComponentTypeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ComponentTypeId" class="form-control" asp-items="ViewBag.ComponentTypeId"></select>
                <span asp-validation-for="ComponentTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Position" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CreateDate" />
        <input type="hidden" asp-for="CreatedBy" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

